<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="TestEmailNewsletterSignup" asp-action="Index" class="navbar-brand">TestWebApp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="TestEmailNewsletterSignup" asp-action="Index">Basic example</a></li>
                    <li><a asp-controller="TestEmailNewsletterSignup" asp-action="DarkTheme">Dark theme</a></li>
                    <li><a asp-controller="TestEmailNewsletterSignup" asp-action="Compact">Compact size</a></li>
                    <li><a asp-controller="TestEmailNewsletterSignup" asp-action="Audio">Audio type</a></li>
                    <li><a asp-controller="TestEmailNewsletterSignup" asp-action="Invisible">Invisible recaptcha type</a></li>
                    <li><a asp-controller="TestEmailNewsletterSignup" asp-action="JqueryValidationDisabled">Jqyery validation disabled</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - TestWebApp</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
